<h1 class= "title">User Sign In</h1>

<%= form_with(model: @user, url: login_path) do |form| %>

  <div class="mb-2">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <%= form.submit "Login" %>
  
<% end %>