<div class="card mb-3">
  <div class="card-body">
    <h1 class="card-title"><%= @user.full_name %>'s Profile</h1>
      <div class="card-text">
        <h5> <%= @user.bio %></h5>
        <h6> <%= @user.username %> </h6>
      </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <% if @user.posts.present? %>
      <% @user.posts.each do |post| %>
        <div class="card-text mb-4">
          <h5>Title: <%= post.title %></h5>
          <h5>Body: <%= post.body.to_plain_text %></h5>
          <%= button_to "Show This Post", post_path(post), method: :get, class: "btn btn-secondary" %>
        </div>
      <% end %>
      </div>
    <% else %>
      <p>No posts yet</p>
    <% end %>
  </div>
</div>

