<h1 class="title"><%= @user.first_name %>'s Profile</h1>

<p class="username">Username: <%= @user.username %></p>

<% @user.posts.each do |post| %>
  <div class= "mb-5">
    <p>Title: <%= post.title %></p>
    <p>Description: <%= post.description.to_plain_text %></p>
    <%= button_to "Show This Post", post_path(post), method: :get, class: "btn btn-primary" %>
  </div>
<% end %>