<h1 class= "title">Welcome to Sparrow</h1>

<% if @user %>
  Logged in as: <%= @user.email %>
  <%= button_to "Logout", logout_path, method: :delete %>
<% end %>


 <div class="center">
     <%= button_to "Create User", new_user_path, method: :get %>
     <%= button_to "Login", sign_in_path, method: :get %>
     <%= button_to "New Post", new_post_path, method: :get %>
 </div>


