<%= form_with(model: @post) do |form|%>
  <%  if @post.errors.any? %>
    <div class="alert alert-danger">
      <% @post.errors.full_messages.each do |message|%>
        <div><%= message%></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body %>
    <%= form.rich_text_area :body, class: "form-control"%>
  </div> 

  <div class="mb-3">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control"%>
  </div> 

  <%= form.submit "Submit Post", class: "btn-primary" %>
<% end %>