<h1 class= "title">All Posts</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <p class="post-id">ID: <%= post.id %></p>
    <p class="author">Author: <%= post.author %></p>
    <p class="title">Title: <%= post.title %></p>
    <p class="description">Description: <%= post.description.to_plain_text %></p>

    <%= button_to "Show This Post", post_path(post), method: :get %>

  <% end %>
<% else %>
  <p class="empty-state">NO POSTS TO DISPLAY</p>
<% end %>

<%= button_to "Home", root_path, method: :get %> 
