<h1 class="title"><%= @post.user.first_name %>'s Posts</h1>

<p class="Title">Title: <%= @post.title %></p>

<p class="Description">Description: <%= @post.description.to_plain_text %></p>



  <%= button_to 'Delete', @post, method: :delete, class: "btn btn-danger" %>
  <%= button_to 'Edit Post', edit_post_path, method: :get, class: "btn btn-warning" %>
