<h1 class="title">Post</h1>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>

<%= button_to "Edit Post", edit_post_path, method: :get %> 
<%= button_to 'Delete Post', @post, method: :delete %>
</p>


<div>
<%= button_to "All Posts", posts_path, method: :get %> 
</div>