<p>
  <strong>ID:</strong>
  <%= @post.id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>

  <%= button_to 'Delete', @post, method: :delete %>
  <%= button_to 'Edit Post', edit_post_path, method: :get %>
</p>



<%= button_to "All Posts", posts_path, method: :get %> 