<div id="post-<%= @post.id %>" class="post-page mt-5">
  <div class="card">
    <% if @post.image.attached? %>
      <%= image_tag @post.image, resize: "200x200", class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title">Title: <%= @post.title %></h5>
      <p class="card-text">
        <%= @post.body.to_plain_text %>
        <br />
        <small class="fs-italic">Created by: <%= @post.user.full_name %> on <%= @post.created_at %></small>
      </p>
    </div>
  </div>

  <div class="row">
    <% if @post.user == current_user %>
      <div class="col-1">
        <%= button_to 'Edit', edit_post_path, method: :get, class: "btn btn-warning" %>
      </div>

      <div class="col-1">
        <%= button_to 'Delete', @post, method: :delete, class: "btn btn-danger"%>
      </div>
    <% end %>
  </div>

  <h3 class="my-3">Comments</h3>
  <ul class="list-group mb-3">
    <%= render @post.comments %>
  </ul>

  <%= render "comments/form", comment: Comment.new(post: @post)  %>
</div>